/data/observations/*
/data/temp/*
/data/model_runs/*

# no tracking html files
docs/_build/
_build/

# no trackin mac-specific files
.DS_Store
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build system / packaging
build/
dist/
*.egg-info/